rasa>=3.6
gcp @ git+https://github.com/FrancescoGentile/google-cloud-platform
pyserde>=0.16
geopy>=2.4
timezonefinder
rapidfuzz
beautifulsoup4
aiohttp
fake_headers
sentence_transformers
inflect
transformers
