rasa>=3.6
gcp @ git+https://github.com/FrancescoGentile/google-cloud-platform
pyserde>=0.16
geopy>=2.4
timezonefinder
rapidfuzz
beautifulsoup4
aiohttp
fake_headers
sentence_transformers
inflect
spacy
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl
